mjml
  include ../components/attributes
  mj-body
    include ../components/header

    mj-section(
      padding-bottom="20px"
      padding-top="10px"
    )
      mj-column
        block content
          mj-text The email content to go here

        block sign-off
          mj-text All the best
          mj-text Open Apiary

    include ../components/footer
