extends layout/default

block content
  mj-text Hi #{ user.name }

  mj-text
    | Someone (hopefully you) has requested help with a forgotten password. To reset your password, please click
    | the button below.

  mj-button(
    href=domain + '/forgotten-password/' + token
  ) Reset password

  mj-text If this wasn't you, don't worry. Nothing has been changed.
