mj-head
  mj-attributes
    mj-all(
      padding="0px"
    )
    mj-body(
      background-color="#fff"
    )
    mj-text(
      font-family="Open-Sans, Helvetica, Arial, sans-serif"
      padding="10px 25px"
      font-size="14px"
      color="#333"
    )
    mj-section(
      background-color="#ffffff"
    )
    mj-button(
      padding="8px"
      background-color="#1976d2"
      color="#ffffff"
      text-transform="uppercase"
    )
    mj-class(
      name="footer"
      background-color='#ff8f00'
      align="center"
      font-size="20px"
    )
